@import "tailwindcss";

@theme {
  --color-main-500: oklch(0.1394 0.0296 257.39);
  --color-fav-500: oklch(0.432 0.0957 149.93);
  --color-white-300: oklch(0.9551 0 0);
  --color-box-500: oklch(0.2776 0.0314 266.1)
}

:root {
  --color-first-main: oklch(0.1394 0.0296 257.39);
  --color-text-white: #F0F0F0;
  --breakpoint-herofix: 60rem
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Vazirmatn:wght@100..900&display=swap');

body {
  background-color: var(--color-first-main);
}

.seris-font {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: italic;
}

@media (min-width: 60rem) {
  .custom-response {
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 2fr));
  }

  /* .custom-response-image {
    order: 0;
  } */
  .custom-response-image {
    order: 1;
    /* position: relative; */
    /* overflow: visible; */
    width: 130%
  }

  .hero-car-image {
    margin-top: 200px;
    z-index: 7;
    /* position: relative; */
    margin-left: -140px;
    /* width: 100%; */
  }

  .category-parent {
    margin-top: -10.3rem;
    z-index: 40;
  }

}

@media (min-width: 1146px) {
  .category-parent {
    margin-top: -11.3rem;
  }
}

@media (min-width: 1390px) {
  .category-parent {
    margin-top: -12.3rem;
  }
}

@media (min-width: 1690px) {
  .category-parent {
    margin-top: -13.7rem;
  }
}